# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Node / React Frontend (if you move frontend/ to root or just generic)
*node_modules/
dist/
dist-ssr/
*.local
.npm/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Project specific
data/synthetic_transactions.csv
__pycache__
data/creditcard.csv


# Razorpay Keys
*.env